

.hamburger {
}

.lineHelp {
    color: #666666;
    height: 4px;
}

.sideMenu {
    z-index:10;
    position: fixed;
    opacity: 100%;
    height:100%;
    width:200px;
    transition: left 1s;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sideMenuOpen {
    left: 0;
}

.sideMenuClosed {
    overflow: hidden;
    left: -200px;
}

.hamburgerContainer {
    margin-right: 5px;
    margin-left: auto;
    width: 50px;
    transition:  margin-left 1s, margin-right 1s;
}

.hamburgerMenu {
    position: fixed;
    opacity: 100%;
    height:100%;
    width:60px;
    transition: left 1s;
}
.hamburgerMenuClose {
    left: 15px;
}

.hamburgerMenuOpen {
    left: 210px;
}


.topCategory {
    font-weight: bolder;
}

.subCategory {
    height: 25px;
    border-radius: 4px;
    margin-top: 25px;
    font-weight: 300;
}

.menuItem {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px 5px;
    display: block;
    border-style: solid;
    transition:  width 1s;
    overflow: hidden;
}

.standaloneMenuItem {
    font-weight: bolder;
    height: 30px;
    margin-top: 35px;
    border-radius: 4px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 8px;
    margin-bottom: 3px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.side {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOutOpacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}