.container {
    transition:  margin-left 1s;
    margin-left: 55px;
}

.openContainer {
    margin-left: 165px;
}

.bodyContent {
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
    transition:  margin-left 1s;
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.mainContent {
    font-size: larger;
    margin-top: 35px;
    opacity: 0;
    animation-fill-mode: forwards;
    animation: fadeIn ease 2s;
    animation-delay: 1s;
    -webkit-animation: fadeIn ease 2s;
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: fadeIn ease 2s;
    -moz-animation-delay: 1s;
    -moz-animation-fill-mode: forwards;
    -o-animation: fadeIn ease 2s;
    -o-animation-delay: 1s;
    -o-animation-fill-mode: forwards;
}
.menuOffset {
}

.backToHome {
    margin: 3rem 0 0;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
