.heading2XlHome {
    opacity: 0;
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    animation: fadeIn ease 2s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    -webkit-animation: fadeIn ease 2s;
    -webkit-animation-delay: .5s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: fadeIn ease 2s;
    -moz-animation-delay: .5s;
    -moz-animation-fill-mode: forwards;
    -o-animation: fadeIn ease 2s;
    -o-animation-delay: .5s;
    -o-animation-fill-mode: forwards;
    -ms-animation: fadeIn ease 2s;
    -ms-animation-delay: .5s;
    -ms-animation-fill-mode: forwards;
}

.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
}

.profPicContainer {
    padding-right: 50px;
    width: 250px;
}

.profPic {
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 100px;
    animation: fadeIn ease 2s;
    z-index:0;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

.displayMenuPics {
}

.displayMenuPicsContainer {
    margin-left: 5px;
    margin-right: 5px;
}

.displayMenuPicsTotal {
    opacity: 0;
    animation: fadeIn ease 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    -webkit-animation: fadeIn ease 2s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: fadeIn ease 2s;
    -moz-animation-delay: 2s;
    -moz-animation-fill-mode: forwards;
    -o-animation: fadeIn ease 2s;
    -o-animation-delay: 2s;
    -o-animation-fill-mode: forwards;
    -ms-animation: fadeIn ease 2s;
    -ms-animation-delay: 2s;
    -ms-animation-fill-mode: forwards;
}

.infoContainer {
    margin-top: auto;
    margin-bottom: auto;
    width: 350px;
    text-align: center;
}

.aboutMePro {
    width: 700px;
}

.aboutMeFun {
    width: 550px;
    margin-left: auto;
    margin-top: 25px;
    margin-right: auto;
}

.fillImg {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.dinnerPic {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 180px;
}

.dinnerPicDiv {
    position: relative;
    display: flex;
    justify-content: center;
}

.hideCaption {
    opacity: 0;
}

.showCaption {
    text-align: center;
}

.showCaptionBackground {
    opacity: 65%;
}

.captionContainer {
    transition: opacity .5s;
}

.dinnerPicDivHover {
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin: 0 0 1.25rem;
}

.lightText {
    color: #666;
}

.linkedIn {
    color: white;
    background-color:#0e76a8;
    opacity: 0;
    animation-fill-mode: forwards;
    animation: fadeIn ease 2s;
    animation-delay: 3s;
    -webkit-animation: fadeIn ease 2s;
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: fadeIn ease 2s;
    -moz-animation-delay: 1s;
    -moz-animation-fill-mode: forwards;
    -o-animation: fadeIn ease 2s;
    -o-animation-delay: 1s;
    -o-animation-fill-mode: forwards;
}
